fastapi==0.115.2
requests==2.32.3
httpx
python-dotenv
urllib3
itsdangerous
python-multipart
uvicorn
gunicorn
python-pptx
pdf2image
openai
moviepy
pydub
natsort
Pillow
starlette==0.40.0
python-jose[cryptography]
zhconv
